footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

/* Riego Checkbox */
.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 50%;
  background: #dddddd;
  height: 40px;
  width: 40px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(.4,.0,.23,1);
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #499b4a;
  color: #ffffff;
}

/*Formularios*/
.formulario__register{
    display: center;
    align-items: center;
}

.contenedor_formulario{
    display: center;
    align-items: center;
    width: 100%;
    max-width: 380px;
    margin-left: 380px;
}

.contenedor_formulario form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.contenedor_formulario form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.contenedor_formulario form h3{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contenedor_formulario form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor_formulario form button{
    display: center;
    align-items: center;
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #499b4a;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

/* Checkboxes */
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
  right: 0;
  left: 0;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/* Vista mobile */
@media screen and (max-width: 720px){
    .contenedor_formulario{
        margin-left: 0px;
    }
}
